body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #222;
  color: #fff;
}

canvas {
  display: block;
  margin: 20px auto;
  background: #111;
  border: 2px solid #555;
}
